body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    height: 100%;
    background: linear-gradient(to bottom, #220B36, #4F2B35);
    color: white;
}

.effects {
    grid-row: 1;
    grid-column: 3;
}

.left {
    grid-row: 2;
    grid-column: 1;
}

.right {
    grid-row: 2;
    grid-column: 3;
}

.left h2 {
    color: #7BCFFF;
}

.right h2 {
    color: #C77DFF;
}

.achievements h2 {
    color: #7BCFFF;
}

.effects h2 {
    color: #C77DFF;
}

.workers h2 {
    color: #3F0FFF;
}

.prestige button,
.gamble-loss,
.shop-item,
.worker-button,
.next-planet,
.planet-unlock {
    color: red;
}

.planet-row {
    color: grey;
}



.gamble-win {
    color: green;
}





.shop {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 260px;
}

.shop-list {
    gap: 5px;
    max-height: 240px;
    overflow-y: auto;
    text-align: left;    
}

.shop-row {

    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 8px;  
}

.shop-item {
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.multi-purchase {
    border: 2px solid black;
    border-radius: 17px;
    padding: 10px;
    margin: 0px;
    text-align: center;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: left;
    align-items: center;    
    position: absolute;
    margin-bottom: 215px;
}

.multi-purchase button{
    background: none;
    border: none;
}


.achievements {
    grid-row: 1;
    grid-column: 1;
}

.achievement {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    height: 45px;
}

.top-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3F9FFF;
}

.title {
    grid-row: 1 / span 2;
    grid-column: 2;
    height: 100px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.save-button {
    position: absolute;
    left: 10px;
    bottom: 80px;
    background: none;
    border: none;
}

.save-icon {
    height: 30px;
    width: 30px;
}



.level {
    grid-row: 2;
    grid-column: 2;
    height: 40px;
    width: 500px;
    text-align: center;

}



.center {
    grid-row: 2;
    grid-column: 2;
    height: 630px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.planet-button {
    background: none;     
    border: none;    
    padding: 0;         
    display: flex;         
    justify-content: center;
    align-items: center;
}

.planet-icon {
    width: 250px;       
    height: auto;        
    max-width: 100%;      
}

.workers {
    height: 150px;
    width: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

.worker-elements {
    gap: 0px;
}

.worker-button {
    width: 150px;
    height: 30px;
}


.left h2 {
    color: #7BCFFF;
}


.minigame-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.minigame-button {
    width: 80px;
    height: 80px;
    border: 2px solid black;
}


.population-gambling {
    height: 170px;
}


.gamble-input {
    display: flex;
    height: 20px;
    align-items: center;
    gap: 10px
}


.separator {
    margin: 10px;
    height: 0.0001px;
    border: solid 2px
}


.left,
.right,
.achievements,
.center,
.effects,
.gems,
.level,
.minigames,
.planets,
.population-gambling,
.prestige,
.shop,
.title,
.planet,
.workers {
    border: 2px solid black;
    border-radius: 17px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #1C1B29;
}


.shop span {
    text-align: left;
}


.planet {
    width: 200px;
    height: 40px;
    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.planet-unlock {
    border: 2px solid black;
    border-radius: 10px;
    width: 70px;
    height:40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.planet-row {
    display: flex;
    align-items: center;
}

.lock-icon {
    background: none;     
    border: none;    
    padding: 0;         
    display: flex;         
    justify-content: center;
    align-items: center;
    max-width: 30px;
}



.effects {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    
}

.effects-list {
    display: flex;
    height: 50px;
    width: 100px;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 5px;
    
}

.effect-row {
    height: 40px;
    width:350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.effects h2 {
    margin-top: 5px;
    margin-left: 135px;
    margin-bottom: 45px;
}

.effect-price {
    display: flex;
    height: 40px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.effect {
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gems {
    border: 2px solid black;
    border-radius: 17px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;    
    position: absolute;
}




.title,
.level {
    border-color: #3F9FFF;
}

.center {
    border-color: #1D3169;
}

.achievements {
    border-color: #7BCFFF;
}

.achievement {
    border-color: white;
}

.left,
.minigames,
.prestige,
.population-gambling {
    border-color: #0b7bdd;
}

.workers {
    border-color: #3F0FFF;
}

.effects {
    border-color: #9205FF;
}

.effect {
    border-color: white;
}

.effect-price {
    border-color: white;
}

.right,
.shop,
.planets {
    border-color: #9205FF;
}


